{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'summary.css' %}">
    </head>
    <body>
      <nav>
        <p class="navheading"><a href="landing.html" class="nonblue"> LIGHT HOUSE</p></a> 
    <ul>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
</nav>
          <p class="heading">Summary</p>

          <div class="left">
<textarea class="maintxt">
 {% for key, value in summary_list.items %}
    {{key}}
    {{value}}

 {% endfor %}
</textarea>

<div class="leftbtn"><button class="leftbutton">DOWNLOAD</button></div>
<div class="rightbtn"><button class="rightbutton">COMPARE</button></div>
          </div>
          <div class="right">
            <iframe src="{% url 'analysis' %}">
                </iframe>
          </div>
    </body>
</html>