{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'summary.css' %}">
    </head>
    <body>
      <nav>
        <p class="navheading"><a href="{% url 'index2' %}" class="nonblue"> LIGHT HOUSE</p></a> 
        <ul>
            <li><a href="{% url 'laws' %}">Law Map</a></li>
            <!-- <li><a href="{% url 'index2' %}">Home</a></li> -->
            <li><a href="{% url 'sitebreach' %}">News</a></li>
            <li><a href="#">Github</a></li>
        </ul>
</nav>
          <p class="heading">Summary</p>

          <div class="left">
<textarea class="maintxt">
 {% for key, value in summary_list.items %}
    {{key}}
    {{value}}

 {% endfor %}
</textarea>

<div class="leftbtn"><button class="leftbutton">DOWNLOAD</button></div>
<div class="rightbtn"><button class="rightbutton">COMPARE</button></div>
          </div>
          <div class="right">
            <iframe src="{% url 'analysis' %}">
                </iframe>
          </div>
    </body>
</html>